In [4]:
number1 = 5
number2 = 2.5
print(number1 + number2)


last_name = "侍"
first_name = "太郎"
print(last_name + first_name)

7.5
侍太郎

In [7]:
top = 10
bottom = 20
height = 5

area = (top + bottom) * height / 2
print(f"{area}cm2")

75.0cm2

In [5]:
last_name = "侍"
first_name = "太郎"
sister_name = "花子"

# 3つの変数を文字列内に埋め込んで表示
print(f"私の名前は{last_name}{first_name}です。妹の名前は{sister_name}です。")

私の名前は侍太郎です。妹の名前は花子です。

In [3]:
user_name = "侍太郎"
print(user_name)

user_name = "侍花子"
print(user_name)

侍太郎
侍花子

In [ ]:
print(1+2)

3

In [ ]:
age = 18

if age < 20:

    # 未成年の場合
    print("ジュースで乾杯")
else:

    print("お酒で乾杯")

ジュースで乾杯

In [ ]:
print(45 + 18)
print(30 - 12)
print(15 * 6)
print(30 / 3)
print(45 % 8)
print(type(30 / 3))

63
18
90
10.0
5
<class 'float'>

In [ ]:
print(45 + 1.8)
print(3 - 1.2)
print(15 * 0.6)
print(3 / 0.3)
print(45 % 0.8)

46.8
1.8
9.0
10.0
0.1999999999999975

In [ ]:
print("今日の天気は" + "晴れ")
print("今日の天気は" "曇り")

今日の天気は晴れ
今日の天気は曇り

In [ ]:
print("降水確率" + str(50) + "%")

降水確率50%